<!DOCTYPE html>
<html>
  <head>
    <title>Dice Roll</title>
  </head>

  <body>
    <h1>50d6</h1>

    <ul>
      <%= 50.times do %>
        <ul><%= @one_roll %></ul>
      <%= end %>
    </ul>

  </body>
</html>
